@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem; */

    @apply bg-gray-400 dark:bg-gray-800;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-500;

    border-radius: 0.5rem;
    border: 2.5px solid;
    @apply border-[3px] border-gray-400 dark:border-gray-800;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-200 dark:bg-gray-600;
  }

  .scrollbar::-webkit-scrollbar-corner {
    @apply bg-gray-400 dark:bg-gray-800;
  }
}
